@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-clip-path {
    clip-path: path('M 2.86987e-7 80.3422 L 198.542 93.1559 C 226.314 94.9483 251.673 77.4083 259.794 50.7899 L 275.291 3.60805e-7 L 0 0 L 2.86987e-7 80.3422 Z');
}

body {
    @apply font-sans;
}

.parallax-section {
    background-image: url('/parallax.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

html, body {
    overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
}

:root {
    --font-scale: 0;
  }
  
  .font-size-scale--2 {
    --font-scale: -2;
  }
  
  .font-size-scale--1 {
    --font-scale: -1;
  }
  
  .font-size-scale-0 {
    --font-scale: 0;
  }
  
  .font-size-scale-1 {
    --font-scale: 1;
  }
  
  .font-size-scale-2 {
    --font-scale: 2;
  }
  
  .font-size-scale-3 {
    --font-scale: 3;
  }
  
  body {
    font-size: calc(1rem + var(--font-scale) * 0.125rem);
  }
  
  h1 {
    font-size: calc(2.25rem + var(--font-scale) * 0.125rem);
  }
  
  h2 {
    font-size: calc(1.5rem + var(--font-scale) * 0.125rem);
  }

  h3{
    font-size: calc(1.4rem + var(--font-scale) * 0.125rem);
  }
  
  p {
    font-size: calc(1.25rem + var(--font-scale) * 0.125rem);
  }


